//NOTE: slowly replacing my initial setup with this in all my projects: http://sassbreak.com/flexible-media-query-mixins/
@mixin breakpoint($breakpoint, $min-max: max-width) {
    $baseFont: 16;
    $em: calc($breakpoint / $baseFont);
    @media only screen and (#{$min-max}: #{$em}em) {
        @content;
    }
}

@mixin centre-absolute-elements {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
