$steelblue: #1a2934;
$default-grey: #eeeeee;

$colour-blanc: #fff;
$colour-noir: #000;
$colour-gris-supersombre: #333;

// NOTE: couleur de text (Premier.vue)
$colour-gradient-shenandoah-uni: to right, #002e62, #980630;

// NOTE: couleurs des texts colorés (Troisieme.vue)
$colour-gradient-css: #3c99dc, #66d3fa;
$colour-gradient-sass: #cd6799, #e293b9;
$colour-gradient-javascript: to bottom right, #f0db4f 25%, #323330;
$colour-gradient-vue: 315deg, #42d392 25%, #647eff;
$colour-gradient-svelte: to top right, #ff3e00 25%, #e3e7f7;
$colour-gradient-tailwind: 315deg, #42d392 25%, #647eff;
$colour-gradient-react: to top left, #61dbfb, #333;
$colour-gradient-typescript: to top right, #235a97 25%, #e3e7f7;
$colour-gradient-bootstrap: 315deg, #3806ad 25%, #553c7b;
$colour-gradient-webpack: 315deg, #1d78c1 25%, #465e69;

// NOTE: j'utlise pas ceux-ci dessous. peut-être plus tard
// $colour-gris-sombre: #777;
// $colour-gris-leger: #f7f7f7;
// $default-box-shadow: 0 1rem 2rem rgba($colour-noir, 0.15);
